/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2d42;
  padding: 10px 20px;
}

.navbar-logo img {
  height: 400px;
  width: auto;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  transition: background 0.3s;
}

.navbar-menu a:hover {
  background-color: #ceb5b7; 
}
.navbar-right{
  display: flex;
  align-items: center;
  gap: 37px;
}
.navbar button{
  background: transparent;
  font-size: 16px;
  color: #7e8287;
  border: 1px solid #ceb5b7;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar button:hover{
  background-color: #ceb5b7;
}
.navbar .active{
  padding-bottom: 2px;
  border-bottom: 2px solid #b5d6d6;
}

.navbar li{
  cursor: pointer;
}

.navbar-search-icon{
  position: relative;
} 

.navbar-search-icon .dot{
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #ceb5b7;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}